# System related
.DS_Store
.build
.tmp
*~
*.log
.svn

# Composer related
composer.lock
composer.phar
/vendor/*

# Development related
/build/
phpunit.xml
TODO
build.*
package.xml

src/data/config_dev.php